 /* font */
 @import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");


 /* root */
 :root{
     --primary-color:#DC143C;
     --secondary-color:#ffff;
     --hover-color:#b3b1b1;
     --primary-font:"Roboto";
     --bs-breakpoint-sm: 576px;
     --bs-breakpoint-md: 768px;
     --bs-breakpoint-lg: 992px;
     --bs-breakpoint-xl: 1200px;
     --bs-breakpoint-xxl: 1400px;
 }

/* Reset */
*,
*::after,
*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: var(--primary-font);
}

html, body{
    width: 100%;
    height: 100%;
    background-color: #252525;
}

/* header */
header{
    width: 100%;
    height: 10%;
}

/* nav */
.nav-container{
    position: absolute;
    z-index: 75;
    width: 100%;
    height: 70px;
    display: flex;
    top: 1.5%;
}
.nav-left{
    width: 100%;
    height: 100%;
    display: flex;  
}
.logo-container{
    width: 150px;
    height: 100%;
    margin: 0 0 0 20px;
}
.logo-container a{
    text-decoration: none;
}
.logo-container h3{
    margin-top: 15px;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 48px;
    line-height: 0.45;
    font-family: "Lobster", cursive;
}
.logo-container p{
    margin-top: 3px;
    font-size: 14px;
    margin-left: 75px;
    color:var(--secondary-color);
    font-weight: 400;
    text-transform: capitalize;
    font-style: italic;
    font-family: "Mansalva", cursive;
}
.nav-menu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    height: 100%;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .15s ease-in-out;
    cursor: pointer;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
}
.nav-item:hover{
    color: white;
    background-color: var(--primary-color);
}


/* dropdown */
.dropdown{
    margin: 15px 40px auto;
}
.drop-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}
.drop-btn:hover{
    background-color: var(--primary-color);
}
.drop-btn img{
    width: 16px;
    height: 16px;
    margin-left: 5px;
}
.drop-content{
    display: none;
    position: absolute;
    margin: 20px 25px 0;
    min-width: 160px;
}
.drop-content a{
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    display: block;
}
.drop-content a:hover{
    color: var(--hover-color);
}


/* Hamburger */
.hamburger{
    display: none;
    cursor: pointer;
    margin-top: 15px;
}
.bar{
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 60px 5px 0;
    border-radius: 25px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--secondary-color);
}


/* main */
main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 90%;
    height: 100%;  
    display: grid;
    place-items: center;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}
.container-duplicate {
    width: 350px;
    height: 550px;
    border-radius: 20px;
}
.up{
    width: 100%;
    height: 250px;
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.up h4,
.down h4{
    margin-top: 5px;
}

.down{
    width: 100%;
    height: 250px;
    background-color: var(--secondary-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.btn{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    font-family: var(--primary-font);
    color: white;
    background-color: var(--primary-color);
    width: 125px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}
.up img,
.down img{
    width: 150px;
    margin-top: 10px;
}

/*responsive*/
@media screen and (max-width:1200px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-menu-container{
        width: 150px;
        height: 300px;
        position: fixed;
        background-color: var(--primary-color);
        right: -100%;
        top: 70px;
        text-align: center;
        transition: .5s ease-in-out;
        gap: 0;
    }
    .nav-menu{
        width: 150px;
        height: 75px;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        color: white;
        width: 150px;
        height: 75px;
        border-radius: 0;
    }
    .nav-item:hover{
        background-color: #b81b3a;
    }
    .nav-menu-container.active{
        right: 0;
    }
    .main-container{
        margin-top: 50px;
    }
}